* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	font-family: 'Montserrat', sans-serif;
}

.col {
	height: 100%;
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.col h2 {
	padding: 10px;
	color: #fff;
	transition: background 0.3s ease-in-out;
	cursor: pointer;
	outline: none;
	border-radius: 10px;
}

.col h2.black {
	color: #000;
}

.col h2:hover {
	background: rgba(255, 255, 255, 0.15);
}

.col h2.black:hover {
	background: rgba(0, 0, 0, 0.15);
}

.col button {
	border: none;
	background: transparent;
	font-size: 1.7rem;
	color: #fff;
	transition: background 0.3s ease-in-out;
	cursor: pointer;
	padding: 10px;
	border-radius: 10px;
	outline: none;
}

.col button.black {
	color: #000;
}

.col button:hover {
	background: rgba(255, 255, 255, 0.15);
}

.col button.black:hover {
	background: rgba(0, 0, 0, 0.15);
}

@keyframes modalHide {
	0% {
		opacity: 1;
		visibility: visible;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

.modal {
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	background: rgba(0, 0, 0, 0.7);
	color: #fff;
	padding: 10px 20px;
	border-radius: 10px;
	font-size: 20px;
}

.modal.hide {
	animation: modalHide 1s ease-in-out;
	opacity: 0;
	visibility: hidden;
}
